@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

:root{
    --color-primary-50: #FDF7F1;
    --color-primary-900: #24140B;

    --color-neutral-0: #ffffff;
    --color-neutral-700: #404040;

    --color-dark-60a: rgba(0, 0, 0, 0.6);
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1328px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.display-title{
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
}

.heading-xs{
    font-size: 16px;
    font-weight: 700;
}

.heading-md{
    font-size: 28px;
    font-weight: 700;
}

.paragraph-md{
    font-size: 16px;
    font-weight: 500;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.btn-dark{
  background: var(--color-neutral-700);
  color: var(--color-neutral-0);
}

.btn-light{
  background: var(--color-neutral-0);
  color: var(--color-neutral-700);
}

.btn-outline{
  border: 1px solid var(--color-neutral-700);
  color: var(--color-neutral-700);
}

.form-field{
  border: 1px solid var(--color-neutral-0);
  border-radius: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

.heading-sm{
  font-size: 24px;
  font-weight: 700;
}

.label-sm{
  font-size: 14px;
  font-weight: 500;
}

@media(max-width: 768px){

  .container{
  width: 100%;
  max-width: 100%;
  padding: 0 12px;
}

  .btn{
    font-size: 14px;
  }

  .display-title{
    font-size: 40px;
  }

  .heading-md{
    font-size: 24px;
  }

  .heading-sm{
    font-size: 20px;
  }

  .paragraph-md{
    font-size: 14px;
  }

  .heading-xs{
    font-size: 14px;
  }

  .label-sm{
  font-size: 13px;
}

.form-field{
  border-radius: 32px;

}
}